<div class="tw-flex tw-justify-between px--32 mt--64">
  <div class="tw-w-[100%] ml--32 text--white">
    <h1 class="font-size-32 name"><i>Mr. Ugyen Tenzin</i></h1>
    <p class="font-szie-12">Software Engineer</p>

    <nav class="mt--40">
     <div routerLink="profile" class="font-size-28 text--hover-mix-gray-light-1 bg--hover-light-green-light-8 br--16 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10
hover:tw-scale-110 hover:tw-transition-all hover:tw-brightness-95">
       <p>Profile</p>
     </div>
      <div routerLink="profile" class="font-size-28 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10 mt--20 text--hover-mix-gray-light-1 bg--hover-light-green-light-8
hover:tw-scale-110 hover:tw-transition-all hover:tw-brightness-95">
        <p>Journey</p>
      </div>
      <div routerLink="profile" class="mt--20 font-size-28 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10 text--hover-mix-gray-light-1 bg--hover-light-green-light-8
hover:tw-scale-110 hover:tw-transition-all hover:tw-brightness-95">
        <p>Experience</p>
      </div>
      <div routerLink="profile" class=" mt--20 font-size-28 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10 text--hover-mix-gray-light-1 bg--hover-light-green-light-8
hover:tw-scale-110 hover:tw-transition-all hover:tw-brightness-95">
        <p>Skills</p>
      </div>
    </nav>
  </div>
</div>

