<div class="tw-flex tw-justify-between px--32 mt--64 name">
  <div class="tw-w-[100%] ml--32 text--white">
    <h1 class="font-size-44 name text--light-white"><i>Mr. Ugyen Tenzin</i></h1>
    <p class="font-size-16 tw-tracking-wide">Software Engineer</p>

    <nav class="mt--40">
     <div routerLink="profile" class="font-size-24 text--hover-mix-gray-light-1 bg--hover-light-green-light-8 br--16 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10
hover:tw-scale-95 hover:tw-transition-all hover:tw-brightness-95">
       <p class="tw-tracking-widest">Profile</p>
     </div>
      <div routerLink="journey" class="font-size-24 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10 mt--20 text--hover-mix-gray-light-1 bg--hover-light-green-light-8
hover:tw-scale-95 hover:tw-transition-all hover:tw-brightness-95">
        <p class="tw-tracking-widest">Journey</p>
      </div>
      <div routerLink="experience" class="mt--20 font-size-24 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10 text--hover-mix-gray-light-1 bg--hover-light-green-light-8
hover:tw-scale-95 hover:tw-transition-all hover:tw-brightness-95">
        <p class="tw-tracking-widest">Experience</p>
      </div>
      <div routerLink="skills" class=" mt--20 font-size-24 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10 text--hover-mix-gray-light-1 bg--hover-light-green-light-8
hover:tw-scale-95 hover:tw-transition-all hover:tw-brisghtness-95">
        <p class="tw-tracking-widest">Skills</p>
      </div>
      <div routerLink="gallery" class=" mt--20 font-size-24 bg--light-black px--16 py--16 tw-cursor-pointer tw-leading-10 text--hover-mix-gray-light-1 bg--hover-light-green-light-8
hover:tw-scale-95 hover:tw-transition-all hover:tw-brightness-95">
        <p class="tw-tracking-widest">Gallery</p>
      </div>
    </nav>
  </div>
</div>

