<div class="tw-flex tw-flex-col tw-justify-center items-center tw-relative">
  <div class="bg--indigo tw-w-full tw-flex tw-justify-center tw-items-center">
    <header class="tw-flex tw-justify-between tw-w-[60%] tw-items-center p--16 text--white">
      <h1>
        KAIZOKU
      </h1>
      <i>I will be the priate king!!!</i>
    </header>
  </div>

  <div class="mt--24 tw-flex tw-justify-center">
    <div class="tw-w-[58%] tw-flex tw-items-center tw-justify-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, delectus deserunt eius excepturi
        exercitationem ipsam molestias nobis provident quidem soluta?</p>

      <div class="tw-w-[60%]">
        <div class="tw-w-[400px]">
          <img class="br--50"  src="./assets/teststst%20.png">
        </div>
      </div>

    </div>
  </div>
</div>
