.product-name {
  @apply flex justify-around;
}

.container {
  &__content {
    @apply w-[100%] flex-col justify-center rounded-2xl bg-amber-200 p-[16px] p-[16px] text-justify hover:shadow-2xl sm:w-[50%];
  }
}

[role="menuitem"] {
  margin-left: 20px;
  background: slategrey;
  padding: 8px 16px;
  color: white;
}
