<div class="product-name">
  <h1 class="flex text-3xl font-bold text-gray-600 underline">Tail Wind</h1>
</div>

<div class="flex flex-col justify-between sm:flex-row p-[40px] gap-5 container">
  <div class="container__content">
    <h1 class="text-center mb-[16px]" #hide>Content One</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi iste laboriosam magni maxime nobis placeat qui rem reprehenderit vitae! Adipisci atque dolores in ipsa libero odio sunt tempore unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi iste laboriosam magni maxime nobis placeat qui rem reprehenderit vitae! Adipisci atque dolores in ipsa libero odio sunt tempore unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi iste laboriosam magni maxime nobis placeat qui rem reprehenderit vitae! Adipisci atque dolores in ipsa libero odio sunt tempore unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi iste laboriosam magni maxime nobis placeat qui rem reprehenderit vitae! Adipisci atque dolores in ipsa libero odio sunt tempore unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi iste laboriosam magni maxime nobis placeat qui rem reprehenderit vitae! Adipisci atque dolores in ipsa libero odio sunt tempore unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi iste laboriosam magni maxime nobis placeat qui rem reprehenderit vitae! Adipisci atque dolores in ipsa libero odio sunt tempore unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi iste laboriosam magni maxime nobis placeat qui rem reprehenderit vitae! Adipisci atque dolores in ipsa libero odio sunt tempore unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi iste laboriosam magni maxime nobis placeat qui rem reprehenderit vitae! Adipisci atque dolores in ipsa libero odio sunt tempore unde.</p>
  </div>
  <div class="container__content" role="document">
    <h2 class="text-center mb-[16px]">Content Two</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores deleniti doloremque earum impedit incidunt itaque molestias necessitatibus nostrum omnis praesentium, quos recusandae reiciendis repellat sed unde ut vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores deleniti doloremque earum impedit incidunt itaque molestias necessitatibus nostrum omnis praesentium, quos recusandae reiciendis repellat sed unde ut vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores deleniti doloremque earum impedit incidunt itaque molestias necessitatibus nostrum omnis praesentium, quos recusandae reiciendis repellat sed unde ut vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores deleniti doloremque earum impedit incidunt itaque molestias necessitatibus nostrum omnis praesentium, quos recusandae reiciendis repellat sed unde ut vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscicing elit. A ad asperiores deleniti doloremque earum impedit incidunt itaque molestias necessitatibus nostrum omnis praesentium, quos recusandae reiciendis repellat sed unde ut vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores deleniti doloremque earum impedit incidunt itaque molestias necessitatibus nostrum omnis praesentium, quos recusandae reiciendis repellat sed unde ut vero!</p>
    <section role="button">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad asperiores deleniti doloremque earum impedit incidunt itaque molestias necessitatibus nostrum omnis praesentium, quos recusandae reiciendis repellat sed unde ut vero!</section>
    <button pButton routerLink="test01" class="mt-[16px] px-[16px] py-[8px]" role="document">Click Me</button>

    <a href="#" role="button">Thank You</a>

    <button role="menuitem">Test is test</button>
    <button role="link">Test is test01</button>
    <button role="button">Test is test02</button>
    <button role="document">Test is test03</button>
    <button role="menuitemcheckbox">Test is test04</button>
    <button role="heading">Test is test05</button>
    <button role="banner">Test is test06</button>
    <button>Final Test</button>


    <div class="my-[16px] flex justify-center text-black-60">
      <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
      <label class="ml-[8px]">Click Me</label>
    </div>
  </div>
</div>
<button routerLinkActive="home">Cliick Me</button>
<router-outlet></router-outlet>
<app-test-component [dataInput]="test"></app-test-component>
<router-outlet></router-outlet>
