<div class="tw-flex tw-justify-between px--32 mt--64">
  <div class="tw-border-y-2 tw-w-[100%] ml--32">
    <div class="tw-flex tw-justify-between my--32">
      <p class="tw-text-justify bg--light-black tw-w-[63%] p--24 text--light-white tw-leading-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deleniti nesciunt nisi sed voluptate.
        Deleniti ducimus ea fuga itaque neque officia quae sequi similique tempora. Accusamus aliquid consectetur
        deleniti doloribus ea enim error expedita nam obcaecati pariatur quaerat quo quod, recusandae repudiandae
        sequi tempore, veritatis. Cum libero nostrum recusandae similique voluptate? A accusantium aliquid aut autem
        culpa dolore dolorem doloremque dolores doloribus eaque error est excepturi explicabo fuga impedit ipsum
        laboriosam magnam neque numquam obcaecati odio odit, officia pariatur quas qui quibusdam rem repellat reprehenderit
        repudiandae saepe similique soluta sunt tenetur totam, vel velit voluptatem? Accusantium deleniti ducimus ea
        enim esse illo magnam magni maxime molestias, nesciunt nisi numquam, possimus quam quasi rem sed, similique suscipit
      </p>
      <div class="tw-w-[35%]">
        <div class="tw-w-[340px]">
          <img src="assets/images /coder3.jpeg">
        </div>
        <div class="tw-w-[340px] mt--20">
          <img src="assets/images /coder5.jpeg">
        </div>
      </div>

    </div>


  </div>
  <div></div>
</div>

