$font-size: (2, 12, 14, 16, 20, 24, 28, 32, 40, 44, 60, 72);
$colors: (
  "primary": #fcba03,
  "secondary": #03b6fc,
  "warn": #ad03fc,
);

$theme-colors: (
  "primary": #fcba03,
  "secondary": #03b6fc,
  "warn": #ad03fc,
  "black": black,
  "light-black": rgba(0, 0,0, 0.2),
  "white": white,
  "light-white": rgba(255, 255, 255, 0.8),
  "orange": orange,
  "purple": purple,
  "indigo": indigo,
  "green": green,
  "light-green": #E2E095,
  "cornflower": cornflowerBlue,
  "mix-gray": #64748b
);

$spacing: (2,4,5,6,7,10,12,14,16);
$breakpoints: (
'xs': 0,
  'sm': 480px,
  'md': 720px,
  'lg': 960px,
  'xl': 1200px
);
